/*
  DIAGNOSTIC STYLING
*/
:root{
  --blue: #275D9D;
}

body {
  font-family: 'Sawarabi Mincho', sans-serif;
  text-align: center;
}

#header {
  text-align: start;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 240px;
  padding-top: 40px;
  border-top-width: 40px;
  background: url(/img/background_mountains.svg) no-repeat;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

#introduction h1 {
  grid-area: iheader;
  text-align: start;
}

#introduction img {
  grid-area: iimg;
  width: 65%;
  height: auto; 
}

#introduction p {
  grid-area: ip;
}

#introduction {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px auto;
  grid-template-areas: 
    "iheader  iheader"
    "ip  iimg";
    padding: 1rem 1rem 2rem 2rem;
}

#projects h1 {
  grid-area: pjheader;
  text-align: start;
}

#projects article {
  grid-area: pjarticle;
}

#projects {
  grid-template-columns: auto;
  grid-template-rows: 50px auto;
  grid-template-areas: 
    "pjheader"
    "pjarticle";
    padding: 1rem 1rem 2rem 2rem;
}

#projects article p {
  grid-area: pjabio;
}

#projects article img {
  grid-area: pjaimg;
  width: auto;
  height: 200px;
}

#projects article h3 {
  grid-area: pjaheader;
}

#projects article  {
  display: grid;
  grid-template-columns: 50% ;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "pjaheader . pjaimg"
    "pjabio . pjaimg";
    margin: 3rem 1rem 1rem 1rem;
}

#contact,
#experience,
#education {
  padding: 1rem 1rem 3rem 1rem;
}



p {
  font-family: 'Didact Gothic', sans-serif;
  margin: auto 10rem;
}

.dark {
  background-color: #F0F0F0;
}

footer {
  background-color: #275D9D;
  color: white;
  padding: 1rem;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content:space-between;
  margin: 2rem;
}

blockquote {
  margin: 0;
  padding: 1rem;
}

a{
  color: #000;
}