/*
  DIAGNOSTIC STYLING
*/
body {
  font-family: 'Sawarabi Mincho', sans-serif;
  text-align: center;
}

section {
  padding: 1rem;
}

p {
  font-family: 'Didact Gothic', sans-serif;
  margin: auto 10rem;
}

.dark {
  background-color: #F0F0F0;
}

footer {
  background-color: #275D9D;
  color: white;
  padding: 1rem;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content:space-between;
  margin: 2rem;
}
